
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="checkoutPage">
    <a class="homeLink" href="/1">Home<a>
    <a class="statusLink" href="/status">Status<a>
  </body>
</html>
