<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Autoly</title>
    <script src = "./seed.js"></script>
  </head>
  <body>
    <h2>Mike Rubin</h2>
    <h3>{{user}}</h3>
  </body>
</html>
